
.wow-button {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 1em 2em;
  font-size: 1em;
  letter-spacing: 1px;
  text-decoration: none;
  justify-content: center;
  width: 75%;
  color: #fff;
  outline: none;
  border-radius: 1.5em;
  border: none;
  background: #e6203b;
  box-sizing: border-box;
}
.wow-button.active {
  -webkit-animation: bounce 0.3s ease-out;
          animation: bounce 0.3s ease-out;
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(1) {
  -webkit-animation-name: anim1;
          animation-name: anim1;
}
@-webkit-keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scaleY(0.5);
  }
}
@keyframes anim1 {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scaleY(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(2) {
  -webkit-animation-name: anim2;
          animation-name: anim2;
}
@-webkit-keyframes anim2 {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg) translateY(-8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(-16px) scaleY(0.5);
  }
}
@keyframes anim2 {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg) translateY(-8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(-16px) scaleY(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(3) {
  -webkit-animation-name: anim3;
          animation-name: anim3;
}
@-webkit-keyframes anim3 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(0) scaleX(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(90deg) translateY(-10px) scaleX(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-20px) scaleX(0.5);
  }
}
@keyframes anim3 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(0) scaleX(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(90deg) translateY(-10px) scaleX(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-20px) scaleX(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(4) {
  -webkit-animation-name: anim4;
          animation-name: anim4;
}
@-webkit-keyframes anim4 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(-30deg) translateY(8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg) translateY(16px) scaleY(0.5);
  }
}
@keyframes anim4 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(-30deg) translateY(8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg) translateY(16px) scaleY(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(5) {
  -webkit-animation-name: anim5;
          animation-name: anim5;
}
@-webkit-keyframes anim5 {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(1);
  }
  50% {
    opacity: 1;
    transform: translateY(10px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scaleY(0.5);
  }
}
@keyframes anim5 {
  0% {
    opacity: 0;
    transform: translateY(0) scaleY(1);
  }
  50% {
    opacity: 1;
    transform: translateY(10px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: translateY(20px) scaleY(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(6) {
  -webkit-animation-name: anim6;
          animation-name: anim6;
}
@-webkit-keyframes anim6 {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg) translateY(8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(16px) scaleY(0.5);
  }
}
@keyframes anim6 {
  0% {
    opacity: 0;
    transform: rotate(30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg) translateY(8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(16px) scaleY(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(7) {
  -webkit-animation-name: anim7;
          animation-name: anim7;
}
@-webkit-keyframes anim7 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(0) scaleX(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(90deg) translateY(10px) scaleX(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(20px) scaleX(0.5);
  }
}
@keyframes anim7 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(0) scaleX(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(90deg) translateY(10px) scaleX(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(20px) scaleX(0.5);
  }
}
.wow-button.active .wow-button__shape-item:nth-of-type(8) {
  -webkit-animation-name: anim8;
          animation-name: anim8;
}
@-webkit-keyframes anim8 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(-30deg) translateY(-8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg) translateY(-16px) scaleY(0.5);
  }
}
@keyframes anim8 {
  0% {
    opacity: 0;
    transform: rotate(-30deg) translateY(0) scaleY(0.5);
  }
  50% {
    opacity: 1;
    transform: rotate(-30deg) translateY(-8px) scaleY(1.4);
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg) translateY(-16px) scaleY(0.5);
  }
}

.wow-button__shape-item {
  position: absolute;
  opacity: 0;
  margin: auto;
  width: 2px;
  height: 8px;
  background: #e6203b;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.wow-button__shape-item:nth-of-type(1) {
  top: -20px;
  right: 0;
  left: 0;
}
.wow-button__shape-item:nth-of-type(2) {
  top: -20px;
  right: -70%;
  left: 0;
}
.wow-button__shape-item:nth-of-type(3) {
  top: 0;
  right: -10px;
  bottom: 0;
}
.wow-button__shape-item:nth-of-type(4) {
  right: -70%;
  bottom: -20px;
  left: 0;
}
.wow-button__shape-item:nth-of-type(5) {
  right: 0;
  bottom: -20px;
  left: 0;
}
.wow-button__shape-item:nth-of-type(6) {
  right: 0;
  bottom: -20px;
  left: -70%;
}
.wow-button__shape-item:nth-of-type(7) {
  top: 0;
  bottom: 0;
  left: -10px;
}
.wow-button__shape-item:nth-of-type(8) {
  top: -20px;
  right: 0;
  left: -70%;
}

:root {
  --color-h: 206;
  --color-s: 64%;
  --color: hsl(var(--color-h), var(--color-s), 42%);
  --color-dark: hsl(var(--color-h), var(--color-s), 22%);
}

button{
    box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.2); 
}



html {
    height: 100%;
}


body {
	background-color: rgba(0,0,0,0);
    background-size: 120% auto;
    position: fixed;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font: normal 14px/1.618em "Hind", sans-serif;
	-webkit-font-smoothing: antialiased;
}
body:before {
    content: "";
    height: 0px;
    padding: 0px;
    border: 150em solid #72747a;
	position: absolute;
	left: 50%;
	top: 100%;
    z-index: 2;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    -webkit-animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff_portrait 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}
h1, h2 {
    font-weight: 400;
    margin: 0px 0px 5px 0px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
}
p {
    margin: 0px;
}
.profile-card {
	background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(2.5px);
	width: 50%;
	height: 75%;
	position: absolute;
	left: 50%;
	top: 50%;
    z-index: 2;
	overflow: hidden;
    opacity: 0;
    margin-top: 70px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 50%;
	border-radius: 100%;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0px 3px 6px rgba(0 ,0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.profile-card header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    float: left;
    border-right: 2px dashed #EEEEEE;

    color: #ffffff;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-card header h1 {
    color: #FF5722;
}
.profile-card header a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px;
}
.profile-card header a:after {
	position: absolute;
    content: "";
	bottom: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
}
.profile-card header a > img {
    width: 120px;
    max-width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}
.profile-card header a:hover > img {
    -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.profile-card .profile-bio {
    width: 175px;        
    height: 180px;
    display: inline-block;
    float: right;
    padding: 50px 20px 30px 20px;
	
    color: #ffffff;
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-social-links {
    width: 218px;        
    display: inline-block;
    float: right;
    margin: 0px;
    padding: 15px 20px;
	background: rgba(255,255,255,1);
    margin-top: 50px;
    text-align: center;
    opacity: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}
.profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 33.3%;
    text-align: center;
}
.profile-social-links li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
    position: relative;
    overflow: hidden!important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-social-links li a img {
    position: relative;
    z-index: 1;
}
.profile-social-links li a:before {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 36px;
    opacity: 1;
    -webkit-transition: transform 0.4s ease, opacity 1s ease-out;
    transition: transform 0.4s ease, opacity 1s ease-out;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.profile-social-links li a:hover:before {
    -webkit-animation: ripple 1s ease forwards;
    animation: ripple 1s ease forwards;
}
.profile-social-links li a img,
.profile-social-links li a svg {
    width: 24px;
}


@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: 100% auto;
    }
    body:before {
        width: 0px;
    }
    @-webkit-keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
    	100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }	
    }
    @keyframes puff {
        0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
        }
    	100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
        }	
    }
}
@media screen and (min-height: 480px) {
	.profile-card {
		-webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
		animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
	}
	.profile-card header {
        width: auto;
        height: auto;
        padding: 30px 20px;
        display: block;
        float: none;
        border-right: none;
    }
    .profile-card .profile-bio {
        width: auto;
        height: auto;
        padding: 15px 20px 30px 20px;
        display: block;
        float: none; 
    }
    .profile-social-links {
        width: 100%;
        position: absolute;
        bottom: 0%;       
        display: block;
        float: none; 
    }
}
@media screen and (min-aspect-ratio: 4/3) {
    body {
        background-size: 100% auto;
    }
    body:before {
        width: 0px;
		-webkit-animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
		animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
	}
}
@-webkit-keyframes init {
    0% {
    	width: 0px;
    	height: 0px;
    }
	100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }	
}
@keyframes init {
    0% {
    	width: 0px;
    	height: 0px;
    }
	100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }	
}
@-webkit-keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
	100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }	
}
@keyframes puff_portrait {
    0% {
        top: 100%;
        height: 0px;
        padding: 0px;
    }
	100% {
        top: 50%;
        height: 100%;
        padding: 0px 100%;
    }	
}
@-webkit-keyframes puff_landscape {
	0% {
		top: 100%;
		width: 0px;
		padding-bottom: 0px;
	}
	100% {
		top: 50%;
		width: 100%;
		padding-bottom: 100%;
	}	
}
@keyframes puff_landscape {
	0% {
		top: 100%;
		width: 0px;
		padding-bottom: 0px;
	}
	100% {
		top: 50%;
		width: 100%;
		padding-bottom: 100%;
	}	
}
@-webkit-keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
	100% {
        -webkit-border-radius: 0px;
    }	
}
@keyframes borderRadius {
    0% {
        -webkit-border-radius: 50%;
    }
	100% {
        border-radius: 0px;
    }	
}
@-webkit-keyframes moveDown {
    0% {
   	    top: 50%;
    }
	50% {
	   top: 40%;
    }
    100% {
       top: 100%;
    }	
}
@keyframes moveDown {
    0% {
   	    top: 50%;
    }
	50% {
	   top: 40%;
    }
    100% {
       top: 100%;
    }	
}
@-webkit-keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
	50% {
	   top: 40%;
    }
    100% {
       top: 50%;
       background: #E0E0E0;
    }	
}
@keyframes moveUp {
    0% {
        background: #FFB300;
        top: 100%;
    }
	50% {
	   top: 40%;
    }
    100% {
       top: 50%;
       background: #E0E0E0;
    }	
}
@-webkit-keyframes materia_landscape {
    0% {
        background: #E0E0E0;
    }
    50% {
        -webkit-border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}
@keyframes materia_landscape {
    0% {
        background: #E0E0E0;
    }
    50% {
        border-radius: 4px;
    }
    100% {
        width: 440px;
        height: 280px;
        background: #FFFFFF;
        border-radius: 4px;
    }
}
@-webkit-keyframes materia_portrait {
	0% {
		background: #E0E0E0;
	}
	50% {
		-webkit-border-radius: 4px;
	}
	100% {
		width: 280px;
		height: 440px;
		background: #FFFFFF;
		-webkit-border-radius: 4px;
	}
}
@keyframes materia_portrait {
	0% {
		background: #E0E0E0;
	}
	50% {
		border-radius: 4px;
	}
	100% {
		width: 75%;
        max-width: 500px; 
		height: 95%;
		background-color: rgba(255, 255, 255, .25);
		border-radius: 40px;
	}
}
@-webkit-keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
	100% { 
        opacity: 1;
        margin-top: -20px;
    }	
}
@keyframes moveIn {
    0% {
        margin-top: 50px;
        opacity: 0;
    }
	100% { 
        opacity: 1;
        margin-top: -20px;
    }	
}
@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(0);
    }
	100% { 
        -webkit-transform: scale(1);
    }	
}
@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
	100% { 
        transform: scale(1);
    }	
}
@-webkit-keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0); 
    }
    50%, 100% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}
@keyframes ripple {
    0% {
        transform: scale3d(0, 0, 0); 
    }
    50%, 100% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        opacity: 0;
    }
}